<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            [routerLink]="['/base/dashboard']"
            class="nav-link px-2 link-secondary"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/base/upload']"
            class="nav-link px-2 link-secondary"
            >Upload</a
          >
        </li>
        <li>
          <a [routerLink]="['/base/check']" class="nav-link px-2 link-secondary"
            >Check</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/base/approve']"
            class="nav-link px-2 link-secondary"
            >Approve</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/base/download']"
            class="nav-link px-2 link-secondary"
            >Download</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            />
          </svg>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
