<div class="container mt-5 my-5">
  <div class="row">
    <div class="col-10 col-sm-8 col-md-4 m-auto">
      <div class="card border-0 shadow">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <input
              type="text"
              class="form-control my-4 py-2"
              placeholder="username"
              formControlName="username"
            />
            <input
              type="password"
              class="form-control my-4 py-2"
              placeholder="password"
              formControlName="password"
            />
            <div class="text-center mt-3">
              <button class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
